<div class="formContainer bgcolor-1">
    Add Food
    <form class="customForm1" action="">
        <label for="name">Food Name</label>
        <input id="name" type="text">

        <label for="desc">Description</label>
        <input id="desc" type="text">

        <label for="cost">Cost</label>
        <input id="cost" type="text">

        <label for="cat">Category</label>
        <select  id="cat" style="align-self: flex-start;">
            <option value="">Chinese</option>
            <option value="">Main Course</option>
            <option value="">opt1</option>
            <option value="">opt1</option>
            <option value="">opt1</option>
        </select>

        <label for="">Food Image</label>
        <label for="img" class="imgInput">Add Image</label>
        <input id="img" type="file" accept="image/jpeg" style="display: none;" >
        <button type="submit">Add+</button>
    </form>
</div>

    